$color_black: #201e1c;
$color_orange: #f7931a;
$color_soft_orange:#FFE9D4;
$color_white:#FAF8F7;
$color_shadow:#59491E29;
$color_gray:#757575;
$color_background:#E5E5E5;
$color_table_background:#FFFFFF;
$color_warm_black:#201E1C;
$color_warm_black_light:#282623;
$color_table_font:#B5B0AC;
$color_font_description_2:#808080;

$font-size-8:8px;
$font-size-14:14px;
$font-size-16:16px;
$font-size-24:24px;

$font-line-height-18:18px;
$font-line-height-26:26px;
